<!doctype html>
<title>Query</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Queries for the user:</h1>

  <div class=metanav>
     
    <h4>
     <br />
        {{question1}}
        <form id='answerform' method='post' action='next' >
        <p>
	    Ticker symbol: <input type='text' name='ticker_symbol'  value="GOOG"/>
	    </p>

        <p>
        <br />    
         {{question2}}
          <br /> 
          <input type='checkbox',  name='which_price' value='open' > {{ans1}} <br />
          <input type='checkbox' , name='which_price' value='close' checked='checked'> {{ans2}} <br />
        </p>
  
        
        <p>
        <br /> 
        {{question3}}
        <br />
	    Number of months: <input type='text' name='number_of_months'  value="1"/>
	    </p>
        
        <p>
          <input type='submit' value='NextButton' />
        </p>
      </form>
    </h4>
  </div>
</div>
